.paddingAll{
    padding:10px 10px 10px 10px;
}

.pricetitle {
    font-weight: 600;
}

.pricesubtitle{
    font-size: 14px;
}

.iconstyle{
    margin-top: 20px;
    margin-left: 20px;
    
    
}
.iconstyleblack{
    margin-top: 20px;
    margin-left: 20px;
}
.iconcolor{
    color: white;
}
.gradient{
    background: rgb(40,34,70);
    background: linear-gradient(158deg, #00FF00, #0c2fce);
}

.gradientlight{
    background: rgb(53,138,148);
    background: linear-gradient(158deg,rgb(186, 62, 37), #00AA00);
}

.bgcolor{
    min-height: 100vh;
    background: #ECEFF1;
    background-color: linear-gradient(158deg,rgb(169, 131, 122), #363a36);
}